.chatter {
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
}

.list {
    list-style-type: none;
    color: #335;
}

.showChatter {
    display: block;
    width: 200px;
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.hide {
    display: hide;
}