.textfield {
    width: 100%;
    text-align: center;
}

.row {
    padding: 3%;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.submit {
    width: 40%;
    text-align: center;
    margin: auto;
    display: block;
    position: relative;
    padding: auto;
    align-items: center;
}

.textfieldError {
    border-color: #dc3545;
    border-width: 0.5%;
    background-image: url('../../resources/images/Error.svg');
    background-size: 192% 90%;
    background-position: left;
    background-repeat: no-repeat;
    text-indent: 20px;
}

div.wrapper {
    box-shadow: 5px 5px 5px 5px grey, 5px 5px 5px 5px red;
    padding: 30px;
    transform: translate3d(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 100%;
    width: 50%;
    animation-duration: 0.82s;
    background-color: #333;
    animation-timing-function: linear;
}

.error {
    position: relative;
    bottom: 53%;
    height: auto;
    background: #d9534f;
    width: 100%;
    display: none;
    border-radius: 5px;
}
.noerror {
    position: relative;
    bottom: 53%;
    height: auto;
    background: #82d94f;
    width: 100%;
    display: none;
    border-radius: 5px;
}

.nav-hamburger {
    margin-right: 3px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.regError {
    box-shadow: 5px 5px 5px 5px grey, 5px 5px 5px 5px red;
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 0px;
    animation-name: box;
    animation-duration: 2s;
    background-color: white;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.registerText {
    font-weight: bold;
    font: outline;
    margin-top: 3%;
}

.navbar-right {
    padding-right: 20px;
}

@keyframes box {
    10%,
    90% {
        box-shadow: 5px 5px 5px 5px red, 5px 5px 5px 5px red;
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        box-shadow: 5px 5px 5px 5px navy, 5px 5px 5px 5px lightblue;
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        box-shadow: 5px 5px 5px 5px red, 5px 5px 5px 5px red;
        transform: translate3d(4px, 0, 0);
    }
    40%,
    60% {
        box-shadow: 5px 5px 5px 5px navy, 5px 5px 5px 5px lightblue;
        transform: translate3d(-5px, 0, 0);
    }
}

@media only screen and (max-width: 1500px) {
    .row {
        padding: 5% 0%;
    }
}

@media only screen and (max-width: 770px) {
    .row {
        padding: 35% 0%;
    }
    div.wrapper {
        border-radius: 0%;
        margin: auto !important;
        padding: 0px;
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .row {
        padding: 80% 1%;
    }
    div.wrapper {
        border-radius: 0%;
        margin: auto !important;
        padding: 0px;
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    .row {
        padding: 80% 0%;
    }
    div.wrapper {
        border-radius: 0%;
        margin: auto !important;
        padding: 0px;
        width: 100%;
    }
    .textfield {
        width: 50%;
        text-align: center;
    }
    .error {
        width: 50%;
        display: none;
        border-radius: 5px;
    }
}