.loginWrapper{
    padding-top: 30%;
    color:black;
}
.textfield{
    color:black;
}
h2.heading{
    color:white;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#333;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}
a {
    color:white;
}
a:hover{
color:lightblue;
}