.textfield{
    border-radius: 5px;
    height:30px;
     width: 50%;
     margin: auto;
     display:block;
    }
    .textfieldError{
      border-color: #dc3545;
      border-width: 0.5%;
      background-image: url('./resources/images/Error.svg');
      background-size: 192% 90%;
      background-position: left;
      background-repeat: no-repeat;
      text-indent: 20px;
    }
    .submit{
      width:40%;
      text-align: center;
      padding:auto;
      align-items: center;
    }
    #parent {
      text-align:center;
      height:100%;
      width:25%;
      position: absolute;
      top: 25px;
      vertical-align: auto;
      bottom: 0;
      background: lightcoral;
    }
    .center-text {
      text-align:center;
    }
    .center {
      margin:auto;
    }
    .left {
      margin:auto auto auto 0;
    }
    .right {
      margin:auto 0 auto auto;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
     
    }
    .bottom-space{
      margin-bottom: 40%;
    }
    li{
      display:inline-block;
      margin: 4px;
    }
    input:focus::-webkit-input-placeholder { 
      color:transparent;
   }
    input:focus:-moz-placeholder {
       color:transparent; 
    }