.textfield{
width: 100%;
border-style: round;
margin: 3px;

}
.submit{
  width:40%;
  text-align: center;
  padding:auto;
  align-items: center;
}
#parent {
  text-align:center;
  height:100%;
  width:40%;
  background-color:navajowhite;
}
.center-text {
  text-align:center;
}
.center {
  margin:auto;
}
.left {
  margin:auto auto auto 0;
}
.right {
  margin:auto 0 auto auto;
}